<header>
  <nav>
    <img  class="daak-logo" src="{{icon}}">
    <section class="daak-brand">
          {{brand}}
    </section>

    <div class="daak-horizontal-menu-container" class="no-select">
      <ul class="daak-menu daak-horizontal-menu">
      </ul>
    </div>

    <input daak-type="container-search" daak-container="daak-desktop" class="daak-search daak-search-small-screen" placeholder="جستجو"/>


    <section id="daak-circle-menu">
      <section class="daak-circle">
        <span class="glyphicon glyphicon-off"></span>
      </section>


      <section id='daak-message' class="daak-circle">
        <span class="glyphicon glyphicon-envelope"></span>
      </section>

      <input daak-type="container-search" daak-container="daak-desktop" class="daak-search daak-search-circle-menu" placeholder="جستجو"/>

      <section id="daak-menu-icon" class="daak-circle">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </section>
    </section>

    <section id="sidebar-top"></section>
  </nav>
</header>
