.daak-circle-menu{
  float: left;
}

@media (max-width: 467px){
  .daak-circle-menu {
    display: block !important;
    width: 100%;
    background-image: url("../../../../assets/daak/images/linen.png");
    margin-top: 12px;
    padding: 10px;
    clear: both;
    /*text-align: center;*/
    /*! border-bottom: 1px solid #222; */
    /* 		box-shadow: 0 4px 4px 3px #888888; */
    margin-bottom: -4px;
    float: left;
    margin-right: 5px;
  }
}
