.daak-circle-menu{
  float: left;
  padding-left: 10px;
}

.sidebar-top{
  display: none;
}

@media (max-width: 617px){
  .daak-circle-menu {
    display: block !important;
    width: 100%;
    background-image: url("../../../../assets/daak/images/linen.png");
    margin-top: 12px;
    padding: 10px;
    clear: both;
    /*text-align: center;*/
    /*! border-bottom: 1px solid #222; */
    /* 		box-shadow: 0 4px 4px 3px #888888; */
    margin-bottom: -4px;
    float: left;
    margin-right: 5px;
  }

  .sidebar-top
  {
    display: inline-block;
    max-width: none;
    width: 100%;
    position: relative;
    float: none;
    /*! display: block; */
    border-top: 1px solid #222;
    padding-bottom: 10px;
    background-image: url('../../../../assets/daak/images/linen.png');
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.25);
    margin-top: -16px;
    padding-top: 1px;
  }
}
