<div #vMenu class="daak-vertical-menu-container no-select">
  <dk-user-details image="assets/daak/images/user.png" title="داود اکبری"></dk-user-details>

  <ul class="daak-vertical-menu">
    <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
        <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->

        <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
            <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
            <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
            <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
          <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
            <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
            <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
            <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
          </dk-v-sub-menu>
        </dk-v-sub-menu>
      </dk-v-sub-menu>

    <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
      <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->

      <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
        <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
          <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        </dk-v-sub-menu>
      </dk-v-sub-menu>
    </dk-v-sub-menu>
  </ul>
</div>
