/*--v-david 1397-01-10*/

.daak-vertical-menu-container{
  position: absolute;
  width: 250px;

  height: -webkit-calc(100% -  67px);
  height: -moz-calc(100% -  67px);
  height: -khtml-calc(100% -  67px);
  height: -ms-calc(100% -  67px);
  height: -o-calc(100% -  67px);
  height: calc(100% -  67px);

  /*! background: rgba(0, 0, 0, 0.98); */
  /*! border: 1px solid rgb(0, 0, 0); */
  top: 67px;
  z-index: 5;
  display: none;

  overflow: hidden;
  /*margin-top: 67px;*/
  padding: 5px 5px 5px 10px;
  /*! background-color: rgba(68, 68, 68, 0.75); */
  border-top: 1px solid #222;
  background-image: url("../../../../assets/daak/images/menu-bg.png");
  background-repeat: repeat-y;

  right: 0px;
}

.daak-vertical-menu {
  background-image: url("../../../../assets/daak/images/linen.png");
  text-align: justify;
}

.daak-horizontal-menu{
  background-color: transparent;
}
.daak-horizontal-menu li{
  display: inline-block;
}
.daak-horizontal-menu li a{
  display: inline-block;
  padding: 10px;
}
