<section class="daak-wrapper">
  <dk-header></dk-header>

  <section id='daak-desktop' class="daak-desktop no-select" >

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>
    <!--<div class="message-box">-->
    <!--<div class="message-title-content">-->
    <!--<h3 class="message-title">تعداد مراجعه کنندگان</h3>-->
    <!--<h3 class="message-date">تاریخ ثبت : 12/5/1365</h3>-->
    <!--</div>-->
    <!--<div class="message-content"></div>-->
    <!--</div>-->
  </section>

  <dk-vertical-menu></dk-vertical-menu>
</section>
