<section class="daak-portal">
  <dk-header (onMenu)="doMenu()"></dk-header>

  <dk-desktop>
    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>

    <dk-desktop-icon icon="glyphicon-phone" title="موبایل"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-user" title="کاربر"></dk-desktop-icon>
    <dk-desktop-icon icon="glyphicon-bell" title="زنگوله"></dk-desktop-icon>
    <!--<div class="message-box">-->
    <!--<div class="message-title-content">-->
    <!--<h3 class="message-title">تعداد مراجعه کنندگان</h3>-->
    <!--<h3 class="message-date">تاریخ ثبت : 12/5/1365</h3>-->
    <!--</div>-->
    <!--<div class="message-content"></div>-->
    <!--</div>-->
  </dk-desktop>

  <dk-vertical-menu #vmenu>
    <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
      <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->

      <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
        <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
          <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        </dk-v-sub-menu>
      </dk-v-sub-menu>
    </dk-v-sub-menu>

    <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
      <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->

      <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
        <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
          <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        </dk-v-sub-menu>
      </dk-v-sub-menu>
    </dk-v-sub-menu>

    <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
      <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->

      <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
        <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
          <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        </dk-v-sub-menu>
      </dk-v-sub-menu>
    </dk-v-sub-menu>

    <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
      <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
      <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->

      <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
        <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
        <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        <dk-v-sub-menu icon="glyphicon-time" title="اهواز">
          <dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-flag" title="مزایای گروه"></dk-v-active-sub-menu>
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-road" title="ایتالیا"></dk-v-active-sub-menu>-->
          <!--<dk-v-active-sub-menu url="../group/searchgroup/searchgroup_view" icon="glyphicon-volume-up" title="قزوین"></dk-v-active-sub-menu>-->
        </dk-v-sub-menu>
      </dk-v-sub-menu>
    </dk-v-sub-menu>
  </dk-vertical-menu>
</section>
